/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    box-sizing: border-box;
}

body :focus {
    background-color: rgb(255, 209, 84) !important;
    outline: none!important;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #333333;
}

body {
    background: url(../../img/body-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 726px;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

select{
    border: none;
}

.bookmarks{
    width: 250px;
    display: inline-block;
    height: 35px;
    padding-left: 16px;
    margin: 16px;
    position: absolute;;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 92% center;
}

header {
    background-color: black;
}

header>div.layout-wrap{
    height: 60px;
    margin: 0px 2%;
    padding: 16px;
}

img[alt="netcraft"] {
    position: absolute;
    top: 0;
    left: 0;
}

.layout-wrap{
    margin: 0px 2.967905%;
}

.layout-wrap>a {
    display: block;
    position: relative;
    text-indent: -999px;
    width: 147px;
    height: 28px;
    vertical-align: top;
    float: left;
}

form.search-box {
    float: right;
}

input[name="q"] {
    height: 23px;
}

.page-body{
    background-color: rgba(0, 0, 0,.3);
}

.page-body.layout-wrap {
    margin: 0px 12%;
    padding: 16px;
}

.notifications,nav,fieldset.fs-settings {
    margin-bottom: 16px;
}

.notifications {
    height: 36px;
    line-height: 36px; /*height*/
    font-size: .8rem;
    background-color: #EBEBEB;
    padding-left: 15px;
}

nav{
    height: 155px;
}

.arrow, .action-list, .settings{
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.nav-section {
    position: relative;
    float: left;
    margin-right: 3%;
    width: 31.33%;
    height: inherit;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center 70px;
}

nav div:last-child {
    margin-right:0;
}

.menu, .tab, .iframe , fieldset.fs-settings{
    width: 100%;
}
.menu {
    position: absolute;
    height: 36px;
    top:119px;
    line-height: 36px; /*height*/
    background: #e2e2e2;
    font-size: .8rem;
}
.arrow {
    width: 0;
    height: 0;
    position: relative;
    top: -21px;
    left: 96%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
}
.menu-hint {
    padding: 0 20px;
    height: inherit;
}
.menu-hint p {
    margin:0;
}
.action-list{
    max-height: 0;
    position: relative;
    z-index: 10;
    width: inherit;
    overflow: hidden;
    background-color: inherit;
    box-shadow: 0 0 3px rgba(0,0,0,0.8);
}

.action-list li {
    padding: 0 20px;
    font-size: .8rem;
    border-top: 1px solid #c4c4c4;
    background-color: white;
}
.action-list li a{
    text-decoration: none;
    display: block;
}
.action-list li:hover{
    background: #e2e2e2;
}
.nav-section:hover {
    cursor: pointer;
}
.nav-section:hover .arrow{
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.nav-section:hover .action-list{
    max-height: 200px;
}
.nav-section > p {
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.3;
    margin-top: 10px;
}
.feature-reports{
    background-image: url(../../img/icons/action-report-new.png);
}
.feature-dashboard{
    background-image: url(../../img/icons/action-report-top.png);
}
.feature-help{
    background-image: url(../../img/icons/actions-help.png);
}
.tabs ul{
    height: 50px;
}
.tabs li {
    float: left;
    margin-right: 3%;
    width: 22.75%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.tabs li:active,.tabs li:visited {
    background-color: #EBEBEB;
}
.tabs li:last-child {
    margin-right: 0;
}
.tabs>ul a {
    color:white;
    text-decoration: none;
    display: block;
    font-size: .8rem;
    background-color: #646464;
}
.tab-active,.tab-active:hover{
    background-color:#EBEBEB !important;
    color: #333333 !important;
}
.tabs>ul a:hover{
    background-color: #4c4c4c;
}
.tab {
    min-height: 364px;
    background: #EBEBEB;
    position: relative;
}
.reports-options-buttons {
    position: absolute;
    width: 80px;
    height: 40px;
    display: inline-block;
    top: 18px;
    right: 16px;
}
.reports-options-buttons a ,.reports-options-buttons button {
    position: absolute;
    background-repeat: no-repeat;
    background-color: inherit;
    background-position: 50% 50%;
    width: 40px;
    height: inherit;
    text-indent: -9999px;
    z-index: 1;
}
.reports-options-buttons a.btn-expand {
    background-image: url(../../img/icons/expand.png);
    right: 40px;
}
.reports-options-buttons button.btn-settings {
    background-image: url(../../img/icons/settings.png);
    right: 0;
    border: none;
}
.reports-options-buttons a:hover, .reports-options-buttons button:hover,
.reports-options-buttons .active{
    background-color: white;
    outline: none;
}
.reports-content,.folder-content {
    margin: 0 16px;
    padding-top: 73px;
}
.reports-content{
    height: 1000px;
}

.folder-content {
    padding-top: 74px;
    height: 1073px;
}
.folders-wraper .reports-options-buttons a.btn-expand {
    right: 0;
}
.iframe {
    height: 100%;
    padding-bottom: 16px;
}

/*
 * Settings
 */
.settings {
    position: absolute;
    background: white;
    right: 16px;
    left: 0;
    top: 58px;
    margin: 0 0 0 16px;
    padding:16px;
    height: 260px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 6px 2px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 2px 6px 2px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 2px 6px 2px rgba(50, 50, 50, 0.3);
}

form[name~="frmSettings"] {
    height: 100%;
    padding: 1.515151515%;
    position: relative;
}

fieldset.fs-settings {
    position: relative;
    height: 46px;
    background-color: #DCDADA;
    padding: 7px 1.5151515%;
    font-size: .9rem;
}
.setting--report-num {
    position: absolute;
    top: 15px;
}
.frmSettings-inputWraper {
    position: absolute;
    height: 36px;
    direction: rtl;
}
.frmSettings-label {
    position: absolute;
    top: 21%;
}
.frmName {
    width: 37%;
    left: 16%;
}
.frmUrl {
    width: 43%;
    left: 55.5%;
}
.frmSettings-input {
    height: 32px;
    position: inherit;
    direction: ltr;
    border: none;
    padding: 0 4%;
    font-size: .8rem;
}

input.frmSettings-input:hover, select.bookmarks:hover {
    /*border: 1px solid #b4b4b4;*/
    border: none;
    outline: 1px solid #b4b4b4;
}

.frmName .frmSettings-input {
    width: 76%;
    left: 24%;
}

.frmUrl .frmSettings-input {
    left: 15%;
    width: 85%;
}

.frmName .frmSettings-label {
    right: 78%;
}

.frmUrl .frmSettings-label {
    right: 87%;
}

.frmSettings-footer {
    float: right;
    font-size: .9rem;
}

.frmSettings-footer input[type="submit"] {
    background-color: black;
    color: white;
    border: 0;
    width: 100px;
    height: 30px;
}

.frmSettings-footer input[type="submit"]:hover,
.frmSettings-footer input[type="submit"]:focus,
.frmSettings-footer input[type="submit"]:active {
    border: 1px solid #b4b4b4;
}
.frmSettings-footer a {
    margin-right: 15px;
    color: black;
}
.frmSettings-footer a:hover, .frmSettings-footer a:focus, .frmSettings-footer a:active {
    color: red;
}

.invalid{
    border: 1px solid red!important;
}

/*
 * My folder tab
 */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
